
#buttons-view {
	margin-top: 20px;
}

#search-window {
	margin-top: 20px;
}

h5 {
	color: grey;
}

#imageResult {
	margin: 10px;
}

#leftButton {
	margin: 1px;
}

#leftButton:hover {
	background-color: green;
}