
#buttons-view {
	margin-top: 20px;
}

#search-window {
	margin-top: 20px;
}

h5 {
	color: white;
	align
	
}

#imageResult {
	margin: 10px;
}

#leftButton {
	margin: 1px;
}

#leftButton:hover {
	background-color: green;
}

#item-input{
	width: 250px;
}

#poweredBy{
	width: 100%;
	background-color: black;
	text-align: center;
	padding: 20%;
}